{% include 'overall_header.html' %}

<h1>{{ lang('ACP_TALK_TITLE') }}</h1>

{% if S_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERROR_MSG }}</p>
	</div>
{% endif %}

<form id="moonbird_talk_acp" name="moonbird_talk_acp" method="post" action="{{ U_ACTION }}">

	<fieldset>
		<legend>{{ lang('SETTINGS') }}</legend>
		<dl>
			<dt><label for="moonbird_talk_api_key">{{ lang('ACP_TALK_API_KEY') ~ lang('COLON') }}</label></dt>
			<dd><label><input id="moonbird_talk_api_key" type="text" name="moonbird_talk_api_key" value="{{ MOONBIRD_TALK_API_KEY }}" /></label></dd>
		</dl>
		<dl>
			<dt><label for="moonbird_talk_project">{{ lang('ACP_TALK_PROJECT') ~ lang('COLON') }}</label></dt>
			<dd><label><input id="moonbird_talk_project" type="text" name="moonbird_talk_project" value="{{ MOONBIRD_TALK_PROJECT }}" /></label></dd>
		</dl>
	</fieldset>

	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
		<input class="button2" type="submit" id="preview" name="preview" value="{{ lang('PREVIEW') }}" />
		{{ S_FORM_TOKEN }}
	</fieldset>

</form>

{% include 'overall_footer.html' %}
